<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Ближе к телу</title>
    <link rel="icon" href="https://bkt.net.ua/favicon.ico" type="image/x-icon">
</head>
<body>
{% load static %}
<h1 style="text-align: center; color: #5897fb">Интернет - магазин носков.</h1>
<nav class="navbar navbar-white" bg-primary style="background-color: aquamarine; margin: 30px;">
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="/index">Ближе к телу</a>
        {% for item in people %}
        <a class="nav-link" href="#">{{item.people}}</a>
        {% endfor %}
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#">Акции!!!</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        {% if request.user.is_authenticated %}
        Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Вход</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/register">Регистрация</a>
        {% endif %}
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <div class="cart">
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            В вашей корзине:
            <a href="{% url 'cart_detail' %}">
                {{ total_items }} шт.{{ total_items|pluralize }}, на сумму
                {{ cart.get_total_price }} грн.
            </a>
            {% else %}
            <a class="nav-link" href="#">Корзина пуста.</a>
            {% endif %}
            {% endwith %}
        </div>
    </nav>
</nav>
<h2 style="text-align: center; color: #5897fb">Поиск товара.</h2>
<nav class="navbar navbar-white" bg-primary style="background-color: aquamarine; margin: 30px;">
    <nav class="nav">
        <a class="nav-link" href="/category_list">Категория</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/season_list">Сезон</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/color_list">Цвет</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/size_list">Размер</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/brand_list">Бренд</a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/index">На главную</a>
    </nav>
</nav>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% else %}
<div class="alert alert-{{message.tags}}" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
