{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="col-md-4">
    <ul class="list-group" style="margin-left: 30px;margin-right: 1150px; background-color: aquamarine">
        {% for cat in category_list %}
        <a class="nav-link" href="{{cat.pk}}">{{cat.category}}</a>
        {% endfor %}
        <a class="nav-link" href="/catalogue">В начало</a>
        <a class="nav-link" href="/category_list">К выбору категории</a>
    </ul>
</div>
{% for item in product %}
<div class="card text-center mt-2">
    <h5 class="card-title">{{ item.brand }} {{ item.art }}</h5>
    <p class="card-text">{{ item.price }}</p>
    <p class="card-text">Размеры: {{ item.size.all|join:", " }}</p>
    <p class="card-text">Цвет: {{ item.color.all|join:", " }}</p>
    <img src="{{item.pic.url}}" style="align-self:center" width="10%" height="10%" alt="">
    <br>
    <a href="{{ item.get_absolute_url }}">
        <button style="margin-left: 50px" class="btn btn-primary col-md-4">Подробно</button>
    </a>
</div>
{% endfor%}
{% endblock %}